<p>clientes works!</p>
<div>
  <ul *ngFor="let cliente of clientes">
    <li>{{ cliente.id }}</li>
    <li>{{ cliente.nombre }}</li>
    <li>{{ cliente.apellido }}</li>
    <li>{{ cliente.email }}</li>
    <li>{{ cliente.createdAt }}</li>
  </ul>
</div>

<table mat-table [dataSource]="clientes" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>id</th>
    <td mat-cell *matCellDef="let cliente">{{ cliente.id }}</td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let cliente">{{ cliente.nombre }}</td>
  </ng-container>

  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef>Apellido</th>
    <td mat-cell *matCellDef="let cliente">{{ cliente.apellido }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let cliente">{{ cliente.email }}</td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>CreatedAt</th>
    <td mat-cell *matCellDef="let cliente">{{ cliente.createdAt }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
